{% extends 'homework/base.html' %}

{% block main %}
    <table class="table table-bordered table-hover">
        <tr>
            <th>ID</th>
            <th>姓名</th>
            <th>年龄</th>
            <th>成绩</th>
            <th>邮箱</th>
            <th>添加日期</th>
            <th>操作</th>
        </tr>
        <tr>
            <td>1</td>
            <td>小美</td>
            <td>18</td>
            <td>999.99</td>
            <td>1@1.com</td>
            <td>2017-09-07</td>
            <td>
                <a href="" onclick="return confirm('真的要删除吗？？？？你确定吗');"> 删除</a>
                <a href=""> 修改</a>
            </td>
        </tr>
        <tr>
            <td>1</td>
            <td>小美</td>
            <td>18</td>
            <td>999.99</td>
            <td>1@1.com</td>
            <td>2017-09-07</td>
            <td>
                <a href=""> 删除</a>
                <a href=""> 修改</a>
            </td>
        </tr>
        <tr>
            <td>1</td>
            <td>小美</td>
            <td>18</td>
            <td>999.99</td>
            <td>1@1.com</td>
            <td>2017-09-07</td>
            <td>
                <a href=""> 删除</a>
                <a href=""> 修改</a>
            </td>
        </tr>
        <tr>
            <td>1</td>
            <td>小美</td>
            <td>18</td>
            <td>999.99</td>
            <td>1@1.com</td>
            <td>2017-09-07</td>
            <td>
                <a href=""> 删除</a>
                <a href=""> 修改</a>
            </td>
        </tr>
        <tr>
            <td>1</td>
            <td>小美</td>
            <td>18</td>
            <td>999.99</td>
            <td>1@1.com</td>
            <td>2017-09-07</td>
            <td>
                <a href=""> 删除</a>
                <a href=""> 修改</a>
            </td>
        </tr>
        <tr>
            <td>1</td>
            <td>小美</td>
            <td>18</td>
            <td>999.99</td>
            <td>1@1.com</td>
            <td>2017-09-07</td>
            <td>
                <a href=""> 删除</a>
                <a href=""> 修改</a>
            </td>
        </tr>
        <tr>
            <td>1</td>
            <td>小美</td>
            <td>18</td>
            <td>999.99</td>
            <td>1@1.com</td>
            <td>2017-09-07</td>
            <td>
                <a href=""> 删除</a>
                <a href=""> 修改</a>
            </td>
        </tr>
        <tr>
            <td>1</td>
            <td>小美</td>
            <td>18</td>
            <td>999.99</td>
            <td>1@1.com</td>
            <td>2017-09-07</td>
            <td>
                <a href=""> 删除</a>
                <a href=""> 修改</a>
            </td>
        </tr>
        <tr>
            <td>1</td>
            <td>小美</td>
            <td>18</td>
            <td>999.99</td>
            <td>1@1.com</td>
            <td>2017-09-07</td>
            <td>
                <a href=""> 删除</a>
                <a href=""> 修改</a>
            </td>
        </tr>
        <tr>
            <td>1</td>
            <td>小美</td>
            <td>18</td>
            <td>999.99</td>
            <td>1@1.com</td>
            <td>2017-09-07</td>
            <td>
                <a href=""> 删除</a>
                <a href=""> 修改</a>
            </td>
        </tr>

    </table>
{% endblock %}