<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="" method="post">
    <input type="text" name="username" placeholder="用户名">
    <input type="password" name="password" placeholder="密码">
    <input type="radio" value="男" name="gender"> 男
    <input type="radio" value="女" name="gender"> 女
    <input type="radio" value="中" name="gender"> 中
    <input type="checkbox" value="smoke" name="interest"> 抽烟
    <input type="checkbox" value="drink" name="interest"> 喝酒
    <input type="checkbox" value="hairtang" name="interest"> 烫头
    <input type="checkbox" value="bat" name="interest"> 赌博
    <input type="checkbox" value="washfeet" name="interest"> 洗脚
    <select name="cls">
        <option value="0">请选择</option>
        <option value="3">1701</option>
        <option value="2">1702</option>
        <option value="1">1703</option>
    </select>
    <input type="submit">
</form>
</body>
</html>